; Adapted from libSFX configuration templates.
; Copyright (c) 2015-2017 David Lindecrantz; used under the MIT License.
; See THIRD_PARTY.md and libSFX/LICENSE in the generated release.
; libSFX Configuration

;                      "123456789012345678901"
define "ROM_TITLE",    "FX3 SNES QUAKE       "

ROM_MAPMODE = $0
ROM_SPEED = $1
ROM_CHIPSET = $17
ROM_ROMSIZE = $0B
ROM_EXPRAMSIZE = $07

SFX_AUTO_READOUT_FIRST = YES
SFX_JOY = JOY1
