# Generated Quake assets and build products.
/src/snes_quake/Data/*
!/src/snes_quake/Data/QuakeBSPAliasVisibility.i
!/src/snes_quake/Data/QuakeBSPAliasVisibility.json
!/src/snes_quake/Data/QuakeBSPAliasVisibility.s
!/src/snes_quake/Data/QuakeBSPAliasVisibilityDisabled.bin
!/src/snes_quake/Data/QuakeBSPAliasVisibilityEnabled.bin
!/src/snes_quake/Data/QuakeBSPReferenceSoundReplay.bin
/src/snes_quake/.build/
/src/snes_quake/.build_libsfx/
/src/snes_quake/quake.sfc
/src/snes_quake/quake.cpu.sym
/src/snes_quake/quake.dmap
/src/snes_quake/quake.dnfo
/out/
/third_party/quake106/*
!/third_party/quake106/quake106.zip
!/third_party/quake106/SLICNSE.TXT
!/third_party/quake106/README.TXT
/.venv/
/src/reference_renderer/vcpkg/
__pycache__/
*.py[cod]
